
@import '_variables';

@font-face{
   font-family: 'Myria-Pro', 'MyriadArabic';
   src: url('../fonts/MyriadProRegular.ttf'),('../fonts/MyriadArabic-Regular.otf');
}

body{
    font-family: 'Myria-Pro', 'MyriadArabic',Georgia, 'Times New Roman', Times, serif;
}
body>.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.custom-navbar {
    margin-bottom: 80px;
    background: transparent;
    border: none;
    padding-top: 44px;
   position: relative;
}
#custom-right>li>a{
    margin-left: 47px;
}
.btn-app{
    font-family: 'MyriadArabic';
    font-size: 16px;
    color: $primary-color;
    background-color: $bg-button;
    border: 1px solid  $bg-button;
    border-radius: 50px;
    padding: 18px 33px 18px 18px;
    margin-left: 50px;
    transition-property: color,background-color;
    transition-duration: 0.3s;
}
.btn-app > span{
    padding-left: 22px;
}

.navbar-default .navbar-nav > li > a{
    
    font-size: 16px;
    color: $second-color;
    transition-property: color;
    transition-duration: 0.3s;
}

.btn-app:hover, .btn-app:focus, .btn-app:active, .btn-app:focus:active{
    color: $primary-color;
    background-color: $bg-button-dark;
}

.header {
    background-image: url(../images/HBg.jpg);
    background-position: center center;
    background-size: cover;
    height: 1000px;
    min-width: 100%;
    z-index: -3;
    position: relative;
    
}

.header .overlay {
    background: rgba(244,244,245,0.40);
    height: 1000px;
    z-index: -2;
}

.brand{
    
    position: absolute;
    left:calc(50% - 70px);
    bottom: 28%;
    display: block;
    
}
#help{
    color: rgba(27,28,30,0.4);
}
h1{
    font-family: 'Myria-Pro';
    font-size: 62px;
    color: $second-color;
    margin-bottom: 34px;
}
.p-header{
    font-family: 'MyriadArabic';
    font-size: 20px;
    line-height: 1.75;
    color:$p-color;
    width: 786px;
    position: absolute;
    left:calc(50% - 393px);
    
    
}

.custom-btn{
    font-family: 'MyriadArabic';
    font-size: 16px;
    color: $second-color;
    background-color: transparent;
    border-radius: 50px;
    border-color: rgba(38,39,45,0.10);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 77px;
    margin-top: 120px;
    margin-bottom: 55px;
    position: relative;
    left: 12%;

}
.custom-btn>i.fa{
    margin-right: 15px;
    margin-left: 50px;
}
.images>img{
    z-index: -1;
}

.feature1{
    
    background-color: $primary-color;
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 122px;
    padding-bottom: 1px;
    
}
hr.hr{
    border-bottom: 1px solid rgba($color: #26272d, $alpha: 0.05);
    width: 1170px;
    margin-top: 145px;
    margin-bottom: 42px;
}

.custom-heading{
     font-family: 'Myria-Pro';
    font-size: 26px;
    color: $second-color;
    margin-top: 45px;
    margin-bottom: 50px;
}
.paragraph{
    font-family:'MyriadArabic';
    font-size: 18px;
    line-height: 2;
    color: $p-color;
    max-width: 489px;
}
.column>p.paragraph:first-of-type{
    margin-bottom: 40px;
}

.heading2{
    font-size: 42px;
}
